.body {
  gap: 20px;
  width: min(1500px, 97%);
  margin: 0 auto;
  margin-top: 25px;
}

.empty_title {
  font-size: 2.2em;
  font-family: 'amazon-ember-bold';
  margin: 0;
  margin-top: 35px;
}

.home_link {
  text-decoration: underline;
;
}

.data_container {
  display: flex;
  justify-content: space-between;
}

.cart_container {
  width: 70%;
}

.heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 2px solid rgb(53, 53, 53);
  font-size: .7em;
  width: 70%;
}

.heading h1 {
  margin: 10px 0;
}

.heading h2 {
  margin: 0px;
}

.list_items {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.item_card {
  list-style: none;
  gap: 15px;
  display: flex;
  border-bottom: 2px solid rgb(53, 53, 53);
  padding-bottom: 20px;
}

.img_container {
  max-width: 200px;
  aspect-ratio: 1/1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
}

.img_container img {
  max-width: 90%;
  max-height: 90%;
}

.item_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 0.9em;
}

.item_info p {
  margin: 0;
  font-size: 0.9em;
}

.heading_sold {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  font-family: 'amazon-ember-bold';
  font-size: 0.67em;
  margin-top: 2px;
  cursor: pointer;
}

.heading_sold h2 {
  margin: 0;
}

.item_heading {
  display: flex;
  font-size: 1.15em;
  justify-content: space-between;
  gap: 10px;
  height: 100%;

}

p.price {
  font-family: 'amazon-ember-bold';
  font-size: 1em;
  margin-top: 18px;
  cursor: pointer;
}

.item_settings {
  display: flex;
  gap: 10px;
  padding-top: 8px;
}

.delete {
  background-color: transparent;
  border: 1px solid #ff3f1a;
  border-radius: 9px;
  color: inherit;
  font-family: 'amazon-ember-bold';
  font-size: 0.9em;
  padding: 0px 10px;
  cursor: pointer;
}

.delete:hover {
  background-color: #ff3f1a;

}

.total_container {
  font-size: 1.1em;
  padding: 15px 0px;
  width: 28%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(54, 54, 54, 0.425);
  gap: 15px;
}

.total_container p {
  width: 90%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.total_container span {
  font-family: 'amazon-ember-bold';
}

.line {
  border: 1px solid rgb(53, 53, 53);
  width: 91%;
}

.checkout {
  background-color: #44797f;
  border-radius: 25px;
  width: 91%;
  padding: 7px 0;
  font-size: 1.1em;
  text-align: center;
  font-family: 'amazon-ember-bold';
}

.checkout:hover {
  text-decoration: none;
  background-color: #294b4e;
}

.sub_total {
  font-size: 1.1em;
  margin: 0;
  margin-left: auto;
  display: flex;
  gap: 15px;
  font-family: "amazon-ember-bold";
}

@media only screen and (max-width: 1000px) {
  .body {
    width: 95%;
  }

  .heading {
    width: 100%;
  }
  .data_container {
    flex-direction: column-reverse;
    width: 100%;
    padding-bottom: 55px ;
  }

  .total_container {
    width: 100%;
    margin-top: 18px;
  }

  .cart_container {
    width: 100%;
    margin-top: 25px;
  }

  .item_card{
    gap: 10px;
  }

  .item_heading{
    flex-direction: column;
  }
  .img_container{
    width: 50%;
  }

  .empty_title{
    font-size: 2em;
  }
}