.nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 75px;
    background-color: rgb(27, 29, 26);
    padding: 5px 25px;
    height: 37px;
    align-items: center;
}
.button_container {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.select {
    background-color: rgb(27, 29, 26);
    color: inherit;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    font-family: 'amazon-ember-bold';
    padding: 5px 1px;
}

.items_container{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    margin: 15px auto 0 auto;
    width: 98%;
    gap: 20px;
    padding-bottom: 75px;

}

.item_container{
    width: 20%;
    height: 20%;
    min-width: 200px;
    min-height: 200px;
}

.image_container {
    width: 100%;
    height: 20vw;
    max-height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 10px;
}
.image {
    max-width: 90%;
    max-height: 95%;
}

.title {
    margin: 0;
    font-size: 1.1em;
}

.item_container:hover{
    text-decoration: underline;
}

.rating_container{
    display: flex;
    gap: 3px;
    font-size: 0.8em;
    align-items: center;
    margin: 3px 0px;
}

.star{
    width: 18px;
    height: 18px;
}

.price {
    margin: 0;
}

.all{
    font-size: 1em;
    border: none;
    background-color: transparent;
    font-family: 'amazon-ember-bold';
    padding: 0px 10px;
    color: inherit;
    transition: transform 0.3s ease-in-out ;
}

.all:hover{
    transform: scale(1.05);
}


