.nav {
    position: sticky;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: min(1500px, 100%);
    height: 40px;
    margin: 0 auto;
    background-color: rgb(27, 29, 26);
    padding: 5px 1.5%;
    box-shadow: 0px 4px 30px rgb(27, 29, 26);
}

.button_container {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.select {
    background-color: rgb(27, 29, 26);
    color: inherit;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    font-family: 'amazon-ember-bold';
    padding: 5px 1px;
}

.items_container{
    max-width: 1600px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    margin: 10px auto 0 auto;
    width: 98%;
    gap: 20px;
    padding-bottom: 75px;
}

.item_container{
    width: 0%;
    height: 20%;
    min-width: 200px;
    min-height: 200px;
}

.image_container {
    aspect-ratio: 1/1;
    max-height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 10px;
}
.image {
    max-width: 90%;
    max-height: 95%;
}

.title {
    margin: 0;
    font-size: 1.1em;
}

.item_container:hover{text-decoration: underline;}

.price {margin: 0;}

.all{
    font-size: 1em;
    border: none;
    background-color: transparent;
    font-family: 'amazon-ember-bold';
    padding: 0px 10px;
    color: inherit;
    transition: transform 0.3s ease-in-out ;
}

.all:hover{transform: scale(1.05);}

.hamburger {
  display: none;
  width: 28px;
  color: white;
  margin-right: 30px;
  transition: all 0.2s ease-in-out;
}

.hamburger_active {
  transform: rotate(90deg);
}

@media only screen and (max-width: 1000px) {
  .image_container {
    height: 50%;
    aspect-ratio: 1/1;
  }

  .select {
    height: 32px;
  }
  
}

@media only screen and (max-width: 615px) {
  .hamburger {
   display: block;
  }  
}
