.container {
    border: 1px rgb(232, 235, 243) solid;
    border-radius: 10px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
}
.minus, .plus {
    background-color: inherit;
    color: inherit;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.minus:hover {
  color: #ff3f1a;
}

.plus:hover {
  color: #44797f;
}

.input {
    background-color: rgb(27, 27, 27);
    color: inherit;
    text-align: center;
    font-family: inherit;
    font-size: 0.9em;
    max-width: 40px;
    border: none;
}

.input:hover {
  
}