.container {
    display: flex;
    gap: 5px;
}
.minus, .plus {
    background-color: inherit;
    color: inherit;
    font-size: 1em;
    border: none;
}

.input {
    background-color: rgb(27, 27, 27);
    color: inherit;
    padding: 10px 10px;
    text-align: center;
    font-size: 0.8em;
    max-width: 50px;
    border: 1px rgb(232, 235, 243) solid;
    border-radius: 15px;
}