.categories {
    width: 98%;
    margin: 0 auto;
    display: grid;
    column-gap: 20px;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(0px, 210px));
}

.small_categories{
    display: flex;
    align-items: center;
    gap: 15px;
}

.category {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out ;
}



.category:hover {
    transform: scale(1.05);
}

.image_container {
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
    border-radius: 50%;
}


.button_big, .button_small {
    background-color: transparent;
    font-family: 'amazon-ember-bold';
    border: none;
    padding: 0;
    color: inherit;
}

.button_big {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.button_small {
    font-size: 1em;
    padding: 0px 10px;
}

.active {
    background-color: rgba(41,75,78,1);
    pointer-events: none;
}

.image {
    max-width: 75%;
    max-height: 80%;
}

.select {
    background-color: rgb(27, 29, 26);
    color: inherit;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    font-family: 'amazon-ember-bold';
    padding: 5px 1px;
    margin-left: auto;
}