.categories {
    width: 98%;
    margin: 0 auto;
    display: grid;
    column-gap: 20px;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(0px, 210px));
}

.small_categories{
    display: flex;
    align-items: center;
    gap: 15px;
}

.category {
    text-align: center;
    cursor: pointer;
}




.image_container {
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
    border-radius: 50%;
}


.button_big, .button_small {
    background-color: transparent;
    font-family: 'amazon-ember-bold';
    border: none;
    padding: 0;
    color: inherit;
}

.button_big:hover, .button_small:hover {
    color: rgba(68,121,127,1);
}

.button_big {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.button_small {
    font-size: 1em;
}

.active {
    background-color: rgba(41,75,78,1);
    pointer-events: none;
    border-radius: 3px;
    padding: 5px 7px;
}

.image {
    max-width: 75%;
    max-height: 80%;
}

