.nav {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0px;
    justify-content: space-between;
    background: #1b1d1a;
    background: linear-gradient(90deg, rgba(27,29,26,1) 2%, #294b4e 65%, #44797f 100%);
}

.nav_items{
    display: flex;
    font-family: 'amazon-ember-bold';
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    width: 100%;
    max-width: 1500px;
    font-size: 1.1em;
    margin: 0 auto;
}

.title {
    font-size: 2em;
    margin: 0;
}

.link_container {
    display: flex;
    gap: 10px;
}

.link_container a {
    text-align: center;
    border: 1px solid transparent;
    margin-top: 12px;
    padding: 12px 5px 20px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}


.link_container a:hover {
    background-color: #294b4e;
    text-decoration: none;
}

.link_container .link_active {
    background-color: #294b4e;
    border: 1px solid rgba(27,29,26,1);
    cursor: none;
}

#cart_icon {
    font-size: 1.2em;
    padding: 8px 19px 22px 5px;
}

.cart_quantity {
    position: absolute;
    font-size: 0.55em;
    top: 17px;
    padding: 0px 5px;
    background-color: #ff3f1a;
    text-align: center;
    border-radius: 15px;
}

.quantity_active {
    background-color: #1b1d1a;
}