@font-face {
  font-family:  'amazon-ember-regular';
  src: url(/public/Ember/AmazonEmber_Rg.ttf);
}

@font-face {
  font-family: 'amazon-ember-bold';
  src: url(/public/Ember/AmazonEmber_Bd.ttf);
}

:root {
  font-family: 'amazon-ember-regular', Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  background-color: #1b1d1a;
  color: #e8ebf3;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #E8EBF3;
  text-decoration: inherit;
}
a:hover {text-decoration: underline;}

body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  font-family: 'amazon-ember-bold';
  line-height: 1.1;
}

#loading {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.144);
  margin: 15px auto auto auto;
  animation: loading 0.7s alternate infinite;
}

@keyframes loading {
  from{
    opacity: 20%;
  }
  to{
    opacity: 100%;
  }
}




